Skynet/shared/workflows-backup
[{"createdAt":"2025-11-12T22:12:01.337Z","updatedAt":"2025-11-12T22:14:04.656Z","id":"mn7B9qPZXg3xKJO6","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"62cdd679-4429-4333-b946-8e02e0a12449","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nYou have access to tools to help answer questions. Only use tools when necessary to get information you don\\'t have. Available tools: get_weather (for weather information), get_time (for current time in timezones). For general conversation, respond directly without using tools.';\n}\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"1ae01572-ba41-4b3a-b1a2-568d0f64307e","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"d58340ae-6818-4356-8f67-f0859cd29e6f","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"33f19a8b-446f-47a7-83a8-a9d2d6ecd252","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = toolCall.function.arguments || {};\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"d8695f28-7c6e-45e6-acbc-a326ce928641","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"b4c697a4-0510-459e-b32c-d629961a8536","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"567f74b6-cf4d-434e-9cba-0e1f08db7883","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"3ce35957-e9a2-4603-bd08-aabd020db2c8","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"49434dd0-abc8-4848-9538-34de98d0b6a9","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c733e2e3-d309-4059-8806-cf2bcd2e383f","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T22:12:01.337Z","updatedAt":"2025-11-12T22:12:01.337Z","role":"workflow:owner","workflowId":"mn7B9qPZXg3xKJO6","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:32:50.981Z","updatedAt":"2025-11-12T21:35:21.001Z","id":"5GLoYhd3jTJvEc6P","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"73cad375-9613-498b-bad4-31a217b004ce","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\nconst messages = $input.item.json.body.messages || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"cd5f169e-2e22-462e-b354-a57bcc520c29","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"url":"http://localhost:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"e3f6fd06-0b87-4b57-aaab-25211956625b","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6a5045b4-3020-492c-8302-881ef6007498","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"173d1372-4104-42b5-b06d-11e25cd7e27c","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"cf9ef124-80b8-4628-9931-f9abb1e871c1","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"url":"http://localhost:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"da3a29cc-2242-4b9e-bcc0-853cef9b3373","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"0195d1e3-e8f5-401d-8464-2736280510a7","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"73c7808e-2b1d-4623-b16e-eb09b0f5cb14","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"36d7c6ba-5aaf-459f-8239-781e9edc3c13","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:32:50.981Z","updatedAt":"2025-11-12T21:32:50.981Z","role":"workflow:owner","workflowId":"5GLoYhd3jTJvEc6P","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T22:14:11.470Z","updatedAt":"2025-11-12T22:15:27.357Z","id":"SUPMsW8jMcXqxFyz","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"1b974d02-209b-4c72-ab1b-227891eac89d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nIMPORTANT: You have access to tools, but only call them when the user explicitly asks for specific information you cannot provide. Available tools: get_weather (for weather in cities), get_time (for current time in timezones). For greetings, general questions, opinions, or any conversation you can answer directly, DO NOT call any tools. Respond naturally without tools.';\n}\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"84cdb8f5-d1ca-4b24-ac53-3c493770ec11","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"fbe15a0f-1a94-4ccc-9772-8e9da2f2ba53","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"bf31859a-a290-4e2a-ac09-a9330b1e1de2","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = toolCall.function.arguments || {};\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"5d5805d3-4570-4391-b6fc-3db130c6cb0b","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"1ec73f1c-0e57-4327-a8ea-d3af6c451192","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"c86e5dcb-a8c9-4efb-b7bc-77df91eaa6f2","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"12dc430b-ea71-42f7-8c0b-fdeac6f67be5","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"407556c8-421c-499e-9102-7c896763e19c","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"54da7971-b967-419e-81c2-64d1005d0b35","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T22:14:11.470Z","updatedAt":"2025-11-12T22:14:11.470Z","role":"workflow:owner","workflowId":"SUPMsW8jMcXqxFyz","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:54:10.175Z","updatedAt":"2025-11-12T21:57:26.825Z","id":"qwjE2tFbo2S5Ffrx","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"4a55787c-a1d1-48d8-83e7-ce2f1a4bedcc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nYou have access to tools. When a user asks about weather or time, you MUST use the appropriate tool (get_weather or get_time). Call the tool and wait for results before responding.';\n}\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"3ff6d64f-fdea-4c0b-84f0-0f78cd6ba6fe","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"c5961521-77e4-4d58-b838-cee618522444","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"5745bd93-02d1-44d0-b5e3-3cddc7b2f4e6","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"15f27cd3-4137-4171-92e7-66ec4643122c","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"d978ef3e-3f18-422e-84d0-aa1cf5b11555","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"c1ccb532-307f-4b34-95ac-57d4be320af3","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"da286027-6e88-4b66-b4fd-b131c196d8f2","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"9e74f25e-f324-4849-8684-9c2126a89307","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b0939de7-f0b3-44a7-bb16-833da41e840c","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:54:10.175Z","updatedAt":"2025-11-12T21:54:10.175Z","role":"workflow:owner","workflowId":"qwjE2tFbo2S5Ffrx","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:46:19.490Z","updatedAt":"2025-11-12T21:47:45.931Z","id":"pL1QUCDjJVvtnxPC","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"5c3bf48b-9b53-48b6-943d-1b368a8deebb","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nYou have access to tools. When a user asks about weather or time, you MUST use the appropriate tool (get_weather or get_time). Call the tool and wait for results before responding.';\n}\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"fcac85ca-01b8-4262-86a3-493a6fad235a","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"74ff9b14-3eec-408f-8ef2-0dc6d75b67e9","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d9645b44-2b3e-451b-a502-40b6b853389a","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"fbe0f99c-8285-4f00-adf1-557084c64634","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"f1d15c71-47e1-4d92-a3ba-f6522a917bbc","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"46981750-be03-44bf-8c82-b6e84059198f","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"90c3c446-47c4-4414-81cb-02f1c05dc6b7","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"551c1f70-df17-4a9e-9cea-ba512659f971","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"fd5bf6ae-59e2-4883-abbb-de4d94d4efc3","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:46:19.490Z","updatedAt":"2025-11-12T21:46:19.490Z","role":"workflow:owner","workflowId":"pL1QUCDjJVvtnxPC","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:35:30.034Z","updatedAt":"2025-11-12T21:38:26.945Z","id":"LgSvLDt89FRflKUg","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"4a465145-ff93-4cee-90fd-0d7f9de896a8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\nconst messages = $input.item.json.body.messages || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"e42545e4-33c4-4ea5-ba83-033500be330d","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"878ea52d-696e-493d-b0fb-c6d416fa1b07","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"09693ccc-9677-46e4-bca8-d2a6b51ef4c6","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"406552eb-c676-4cb4-bd8d-71b78848092e","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"d0a6308b-2ab9-4511-96fe-044d4d043f6b","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"f8bae982-1ec3-4249-972e-b34e21ec9fb2","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"4db843ed-b4d2-4a4e-877f-88c638fe2b05","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"39b79683-48d6-42fd-b5ce-700e83aa65ac","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e6e806f0-4814-413d-b4af-d61a85f404a1","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:35:30.034Z","updatedAt":"2025-11-12T21:35:30.034Z","role":"workflow:owner","workflowId":"LgSvLDt89FRflKUg","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2024-02-23T16:58:31.616Z","updatedAt":"2024-02-23T16:58:31.616Z","id":"srOnR8PAY3u4RSwb","name":"Demo workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"74003dcd-2ac7-4caa-a1cd-adecc5143c07","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,340],"webhookId":"cdb5c076-d458-4b9d-8398-f43bd25059b1"},{"parameters":{},"id":"ce8c3da4-899c-4cc4-af73-8096c64eec64","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[880,340]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"3dee878b-d748-4829-ac0a-cfd6705d31e5","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[900,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2affe6-bb1c-4ddc-92f9-dde0b7656796","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-12T04:18:48.018Z","updatedAt":"2025-11-12T04:18:48.018Z","role":"workflow:owner","workflowId":"srOnR8PAY3u4RSwb","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:57:34.569Z","updatedAt":"2025-11-12T22:11:54.507Z","id":"mJNqBlttoVGYfU9l","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"78de8234-b77f-481e-bece-5d0c99d0aad7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nYou have access to tools. When a user asks about weather or time, you MUST use the appropriate tool (get_weather or get_time). Call the tool and wait for results before responding.';\n}\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"ce5e423b-3eb9-4ed3-997e-a6606701e5f8","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"b1c112ed-a9bf-4626-9887-87c211a6359e","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"97fc2d63-658c-4a63-ac23-39c729bdb250","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = toolCall.function.arguments || {};\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"878556b4-5f16-4d7b-a9ae-bbe5b1148306","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"0ab408b8-d854-48f8-a678-f5c8b0e0ae09","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"a3ca27ee-b1b4-471b-b7ce-1eab8575d79f","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"448309ca-d041-4405-9d80-ee6a7e7183b6","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"be85897b-aa5e-4565-8d14-0c678022b429","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5043746b-e71c-4bab-97bd-82a417cbbf48","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:57:34.569Z","updatedAt":"2025-11-12T21:57:34.569Z","role":"workflow:owner","workflowId":"mJNqBlttoVGYfU9l","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T23:16:14.410Z","updatedAt":"2025-11-12T23:53:20.768Z","id":"ZPH85D8yRRZhInHh","name":"Agent w Search","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"c7653a38-3aa9-4033-b108-aea8f374980d","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-208,-112],"webhookId":"53c136fe-3e77-4709-a143-fe82746dd8b6","typeVersion":1.1},{"parameters":{},"id":"6218eca9-ee60-44d0-b844-6ea25cff174f","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[144,112],"typeVersion":1.3},{"parameters":{"options":{}},"id":"63770cc1-c324-4254-8ea5-f370421fb6e5","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[272,112],"typeVersion":1,"credentials":{"serpApi":{"id":"dLyaSSiDoEC7CO7a","name":"SerpAPI account"}}},{"parameters":{"options":{}},"id":"bf4caa18-c975-4639-9761-ee0a97ba688c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[32,-112],"typeVersion":1.8},{"parameters":{"model":"qwen3:14b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[0,112],"id":"9b823c91-e8cc-4b1b-91f0-c97cc179ce10","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[384,80],"id":"5d8d11e2-d5a0-45d0-b174-b77437ef2429","name":"Calculator"}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"430800bf-ddda-49d5-9eeb-157dd61e5ae8","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-12T23:16:14.410Z","updatedAt":"2025-11-12T23:16:14.410Z","role":"workflow:owner","workflowId":"ZPH85D8yRRZhInHh","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:47:54.143Z","updatedAt":"2025-11-12T21:54:03.410Z","id":"9aYkUAPF87LpHlqR","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"67790ec1-3daa-49fc-9112-0836bcb824be","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nYou have access to tools. When a user asks about weather or time, you MUST use the appropriate tool (get_weather or get_time). Call the tool and wait for results before responding.';\n}\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"ee1851cd-f965-4be3-a42d-e1ff2205ea72","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"9adf9a27-d532-4fdf-b2f9-d7205c1f5047","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"0c95d96b-9d8a-47a6-8dc0-bd63f9f233f3","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"114c30d8-a0b1-4dc9-b0a5-125c150a05aa","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"llama3.2:latest\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"60602032-3546-4975-834d-6f74b4b5f476","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"6766e691-ba71-489e-95e7-180150f525fb","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"2b07ccbc-b935-4013-8cb9-8a2dfc4b2a00","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"430bf08f-0dc9-40d6-b687-4bf7f40ec42d","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"01f86873-df7d-4728-988f-393614cb2af1","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:47:54.143Z","updatedAt":"2025-11-12T21:47:54.143Z","role":"workflow:owner","workflowId":"9aYkUAPF87LpHlqR","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:38:33.740Z","updatedAt":"2025-11-12T21:41:59.638Z","id":"l2q3Mu1dAuBFdxWe","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"831f3c86-bc15-4793-92b3-2647897be095","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\nconst messages = $input.item.json.body.messages || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"30bed206-aa51-41c7-a6c7-30cf57a43e7c","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"88974be2-257a-4f25-b5cd-4d5451a7161b","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"8f9abcf7-e204-49a2-b325-0ae68d4ab2a6","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"1c2360f8-99ae-4249-a10d-6d406dbfcb64","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"61050ba0-68fa-4c9a-875c-bf684462e580","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"b609f8f1-555c-4d65-9dca-37680fdb54ac","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"fe060a0d-8ed2-4587-bde3-5c63f0fc0a95","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"41ede746-2690-419d-b399-5efec95b184a","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e1ecafaa-07a4-4e9d-bc23-7e0c48847674","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:38:33.740Z","updatedAt":"2025-11-12T21:38:33.740Z","role":"workflow:owner","workflowId":"l2q3Mu1dAuBFdxWe","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T22:18:26.564Z","updatedAt":"2025-11-12T23:11:22.212Z","id":"kqMNYpAQDbvxpxJ1","name":"Dictator Tool-Calling","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"57b58d76-6058-4841-b70a-37dbd567ea26","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nIMPORTANT: You have access to tools, but only call them when the user explicitly asks for specific information you cannot provide. Available tools: get_weather (for weather in cities), get_time (for current time in timezones). For greetings, general questions, opinions, or any conversation you can answer directly, DO NOT call any tools. Respond naturally without tools.';\n}\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"6e955c64-81fb-4c7e-b02e-f0490dff4372","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"d6639815-04e0-4898-ab8d-2f73759978e0","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"163cdac1-7b19-4348-8fe1-747859c36ca7","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = toolCall.function.arguments || {};\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"be05b501-cf4a-4946-8dc8-af6da29a065b","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"ef34a334-137c-4154-ae91-0699cfdae3e3","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"a4a2bf5c-c1a3-4390-a445-2c90272a1019","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"de4d97d1-2b72-486c-ad37-8b271945233c","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"28f935b5-cf2f-426e-b115-a9737539e55d","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"52011b7e-3902-4625-8921-705c8b40760c","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T22:18:26.564Z","updatedAt":"2025-11-12T22:18:26.564Z","role":"workflow:owner","workflowId":"kqMNYpAQDbvxpxJ1","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T22:15:41.250Z","updatedAt":"2025-11-12T22:18:20.814Z","id":"GJfOzIvAUZVkOiHJ","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"d453b548-62db-4d09-b2ee-2409ab274d98","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\n// Add tool usage instruction to system message\nif (messages.length > 0 && messages[0].role === 'system') {\n  messages[0].content += '\\n\\nIMPORTANT: You have access to tools, but only call them when the user explicitly asks for specific information you cannot provide. Available tools: get_weather (for weather in cities), get_time (for current time in timezones). For greetings, general questions, opinions, or any conversation you can answer directly, DO NOT call any tools. Respond naturally without tools.';\n}\n\nconst payload = {\n  model: \"qwen2.5:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"85a7ff81-b263-4671-b455-e73b4810b649","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"b11f57b9-9bef-438d-8283-cff3cd52d5cf","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls && $json.message.tool_calls.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"3f25a053-3c68-4bc6-88fb-45202ccaa0e0","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = toolCall.function.arguments || {};\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"e1e1fdcf-e07b-4d19-87a9-ff0424dd334d","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen2.5:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"d1b67371-dd8f-4de4-9afe-1eaf58210cd9","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"e4adae4b-b02b-485c-9d44-9cb18f65d730","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"46f87712-7a9c-45fd-bb29-3b353d55fb1c","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"9422b682-6393-4028-a73f-0de626d5f870","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9c39aa57-4e59-45c5-8081-293fb9c7bc93","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T22:15:41.250Z","updatedAt":"2025-11-12T22:15:41.250Z","role":"workflow:owner","workflowId":"GJfOzIvAUZVkOiHJ","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:24:04.258Z","updatedAt":"2025-11-12T21:32:36.491Z","id":"E4C9LPSm2pCdSUHS","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"c1dd4ba0-1f34-462c-a251-04e19b51daf6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-656,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"url":"=http://ollama:11434/api/chat","authentication":"predefinedCredentialType","nodeCredentialType":"ollamaApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"qwen3:14b\",\n  \"messages\": {{ $json.messages }},\n  \"stream\": false,\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"get_weather\",\n        \"description\": \"Get current weather information for a city\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"city\": {\n              \"type\": \"string\",\n              \"description\": \"City name\"\n            }\n          },\n          \"required\": [\"city\"]\n        }\n      }\n    },\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"get_time\",\n        \"description\": \"Get current time in a timezone\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"timezone\": {\n              \"type\": \"string\",\n              \"description\": \"Timezone like America/New_York\"\n            }\n          },\n          \"required\": [\"timezone\"]\n        }\n      }\n    }\n  ]\n}","options":{}},"id":"e3a8bf6b-4eb7-4b72-a857-a351827ec964","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6ae2da59-b40d-48b3-b250-701a6d3a51c4","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $input.first().json.body.messages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"f070cfdb-fb9d-48cf-a603-82fa99a2b7bd","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"url":"=http://ollama:11434/api/chat","authentication":"predefinedCredentialType","nodeCredentialType":"ollamaApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"qwen3:14b\",\n  \"messages\": {{ JSON.stringify([...$json.originalMessages, $json.assistantMessage, ...$json.toolResults]) }},\n  \"stream\": false\n}","options":{}},"id":"22591595-16d6-4a89-9f1a-98c3fd02a3c8","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"cf5a9997-3f8e-45fc-a7cb-d21b5ae95878","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"0cc7c48c-8bd4-45fa-8caf-5e453b7e7f77","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f31a1898-49ee-4564-900c-fc416b6bd130","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:24:04.258Z","updatedAt":"2025-11-12T21:24:04.258Z","role":"workflow:owner","workflowId":"E4C9LPSm2pCdSUHS","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-12T21:42:09.934Z","updatedAt":"2025-11-12T21:46:12.550Z","id":"ZLEMXdsCAaNXUo3x","name":"Dictator Tool-Calling","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dictator-llm","responseMode":"responseNode","options":{}},"id":"b96eb23f-edf2-4602-b575-4ad7d11b5796","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,112],"webhookId":"dictator-llm-webhook"},{"parameters":{"jsCode":"// Prepare Ollama API payload with tools\n// Get messages from webhook body\nconst body = $input.item.json.body || {};\nconst messages = body.messages || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: messages,\n  stream: false,\n  tools: [\n    {\n      type: \"function\",\n      function: {\n        name: \"get_weather\",\n        description: \"Get current weather information for a city\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            city: {\n              type: \"string\",\n              description: \"City name (e.g., Paris, London, New York)\"\n            }\n          },\n          required: [\"city\"]\n        }\n      }\n    },\n    {\n      type: \"function\",\n      function: {\n        name: \"get_time\",\n        description: \"Get current time in a specific timezone\",\n        parameters: {\n          type: \"object\",\n          properties: {\n            timezone: {\n              type: \"string\",\n              description: \"Timezone (e.g., America/New_York, Europe/Paris)\"\n            }\n          },\n          required: [\"timezone\"]\n        }\n      }\n    }\n  ]\n};\n\nreturn {\n  payload: payload,\n  originalMessages: messages\n};"},"id":"ef0cd293-e9d8-493b-bc7f-c7bc7bf358b5","name":"Prepare Ollama Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"3376adf9-26ce-40fb-8ce6-77d0e544d008","name":"Call Ollama (Initial)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.message.tool_calls }}","rightValue":"","operator":{"type":"any","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"734d9cb8-1527-4391-a101-bcd57b15c1dd","name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"jsCode":"// Execute tool calls\nconst toolCalls = $input.item.json.message.tool_calls || [];\nconst originalMessages = $('Prepare Ollama Request').item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.message;\nconst toolResults = [];\nconst toolsUsed = [];\n\nfor (const toolCall of toolCalls) {\n  const toolName = toolCall.function.name;\n  const args = JSON.parse(toolCall.function.arguments || '{}');\n  \n  toolsUsed.push(toolName);\n  \n  let result;\n  \n  if (toolName === 'get_weather') {\n    // Mock weather data (replace with real API)\n    const city = args.city || 'Unknown';\n    result = {\n      city: city,\n      temperature: '22°C',\n      condition: 'partly cloudy',\n      humidity: '65%',\n      wind: '15 km/h'\n    };\n  } \n  else if (toolName === 'get_time') {\n    // Mock time data (replace with real API)\n    const timezone = args.timezone || 'UTC';\n    const now = new Date();\n    result = {\n      timezone: timezone,\n      time: now.toISOString(),\n      formatted: now.toLocaleString('en-US', { timeZone: timezone })\n    };\n  }\n  else {\n    result = { error: `Unknown tool: ${toolName}` };\n  }\n  \n  toolResults.push({\n    role: 'tool',\n    content: JSON.stringify(result)\n  });\n}\n\nreturn {\n  originalMessages: originalMessages,\n  assistantMessage: assistantMessage,\n  toolResults: toolResults,\n  toolsUsed: toolsUsed\n};"},"id":"1ee623c7-ef04-4eed-8eed-4d9069e81a1c","name":"Execute Tools","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"// Prepare final Ollama call with tool results\nconst originalMessages = $input.item.json.originalMessages || [];\nconst assistantMessage = $input.item.json.assistantMessage;\nconst toolResults = $input.item.json.toolResults || [];\n\nconst payload = {\n  model: \"qwen3:14b\",\n  messages: [...originalMessages, assistantMessage, ...toolResults],\n  stream: false\n};\n\nreturn { payload: payload };"},"id":"4b65fff0-71fa-4b19-9a50-21b928b46e37","name":"Prepare Final Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"id":"4c983085-48e0-412a-9697-d464d99252b4","name":"Call Ollama (Final)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": $('Execute Tools').item.json.toolsUsed || []\n} }}","options":{}},"id":"15062676-e29f-442f-b2d3-ca80c798239e","name":"Respond (With Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"response\": $json.message.content,\n  \"tools_used\": []\n} }}","options":{}},"id":"765c6357-7727-41ce-94b8-f508009fd167","name":"Respond (No Tools)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,208]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Ollama Request","type":"main","index":0}]]},"Prepare Ollama Request":{"main":[[{"node":"Call Ollama (Initial)","type":"main","index":0}]]},"Call Ollama (Initial)":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Execute Tools","type":"main","index":0}],[{"node":"Respond (No Tools)","type":"main","index":0}]]},"Execute Tools":{"main":[[{"node":"Prepare Final Request","type":"main","index":0}]]},"Prepare Final Request":{"main":[[{"node":"Call Ollama (Final)","type":"main","index":0}]]},"Call Ollama (Final)":{"main":[[{"node":"Respond (With Tools)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"33bc2d30-aa03-4018-bdf1-c6d4b9260102","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-12T21:42:09.934Z","updatedAt":"2025-11-12T21:42:09.934Z","role":"workflow:owner","workflowId":"ZLEMXdsCAaNXUo3x","projectId":"qpLbXg5imXBydpjq","project":{"createdAt":"2025-11-12T04:18:43.130Z","updatedAt":"2025-11-12T21:16:18.370Z","id":"qpLbXg5imXBydpjq","name":"Rodrigo Schott <rodrigo.schott@gmail.com>","type":"personal","icon":null,"description":null}}]}]